{
  "presets": ["env", "react"],
  "env": {
    "loose": true,
    "modules": false,
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-pure-class-to-function",
        "transform-react-remove-prop-types"
      ]
    }
  },
  "plugins": [
    "dynamic-import-webpack",
    "syntax-dynamic-import",
    "transform-react-jsx-source",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}